<div *ngIf="isFetching | async">
    <h3>Loading...</h3>
</div>
<div *ngIf="products | async">
    <h2>Product List</h2>
    <br/>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | async">
                <td><span>{{ p.id }}</span></td>
                <td><span>{{ p.name }}</span></td>
                <td><span>{{ p.price }}</span></td>
                <td><span>{{ p.category }}</span></td>
                <td>
                    <span *ngIf="p.quantity > 0; else nullproduct">
                        <button (click)="decrement(p)">-</button>
                        {{ p.quantity }}
                        <button (click)="increment(p)">+</button>
                    </span>
                    <ng-template #nullproduct>
                        <em>{{ p.quantity }}</em>
                    </ng-template>
                </td>
                <td><button (click)="removeProduct(p)">remove product</button></td>
                <td><button (click)="addToCart(p)">add to cart</button></td>
            </tr>
        </tbody>
    </table>
</div>
<app-cart></app-cart>